.head {
  background-color: white;
}
.navbar-nav {
  margin-left: auto;
}

@media screen and (max-width: 600px) {
  .test {
    justify-content: center;
  }
  .navbar-nav {
    margin-left: 3px;
  }
  /* body {
    height: 100%;
    width: 70%;
    background-color: lightgreen;
  }
  .grid-container {
    display: grid;
    grid-template-areas:
      "header header header header"
      "body body body body"
      "bodyBottom bodyBottom bodyBottom bodyBottom"
      "sidebarTop sidebarTop sidebarTop sidebarTop"
      "sidebarBottom sidebarBottom sidebarBottom sidebarBottom"
      "footer footer footer footer";
  } */
}
