* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.grid-container {
  height: 100%;
  /* background-color: black; */
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10px;
  grid-template-areas:
    "header header header header header"
    "body body body sidebarTop sidebarTop"
    "body body body sidebarBottom sidebarBottom"
    "footer footer footer footer footer";
  width: 100vw;
  height: 110vh;
}

.head {
  grid-area: header;
}
.body {
  grid-area: body;
}
.sidebar-top {
  grid-area: sidebarTop;
}
.sidebar-bottom {
  grid-area: sidebarBottom;
}

.footer {
  grid-area: footer;
}

.font-style {
  font-size: 20px;
  text-align: center;
}

.navbar-nav {
  margin-left: auto;
}

@media screen and (max-width: 600px) {
  body {
    height: 100%;
    width: 70%;
  }
  .grid-container {
    grid-template-areas:
      "header header header header"
      "body body body body"
      "sidebarTop sidebarTop sidebarTop sidebarTop"
      "sidebarBottom sidebarBottom sidebarBottom sidebarBottom"
      "footer footer footer footer";
  }
}
